<!DOCTYPE html>
<html>
<head>
	<title>News of the day!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1><%= news[0].city %> Daily news: </h1><br>
		</div>		
	</div>
	<div class="container">
		<% for(var i=0;i<news.length;i++){ %>
		<h2> <%= news[i].headline %> </h2> <h4>Read more...</h4>
		<% } %>
	</div>
</body>
</html>