<!DOCTYPE html>
<html>
<head>
	<title>Webdev project submission</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Webdev Project submission:Feyaz Baker</h1>		
		</div>
	</div>
	<div class="container">
		<div class="panel panel-default">
  			<div class="panel-heading">
  				<a href="/votepage">Voting page</a>
  			</div>
  			<div class="panel-body">
  				Vote for your favorite Kanto region starter pokemon!
  			</div>
		</div>
	</div>
	<div class="container">
		<div class="panel panel-default">
  			<div class="panel-heading">
  				<a href="/newspage">News page</a>
  			</div>
  			<div class="panel-body">
  				Find news across Tamriel!
  			</div>
		</div>
	</div>


</body>
</html>