<!DOCTYPE html>
<html>
<head>
	<title>Kanto pokemon voting page!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Choose your starter pokemon!</h1>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<form action="vote0" method="POST">
					<button>Bulba!</button>
					<img src="https://cdn.bulbagarden.net/upload/e/ec/001MS.png" alt="Bulbasaur">
				</form>
			</div>
			<div class="col">
				<form action="vote1" method="POST">
					<button >Char!</button>
					<img src="https://cdn.bulbagarden.net/upload/b/bb/004MS.png" alt="Charmander">
				</form>
			</div>
			<div class="col">
				<form action="vote2" method="POST">
					<button>Squirtle!</button>
					<img src="https://cdn.bulbagarden.net/upload/9/92/007MS.png" alt="Squirtle">
				</form>
			</div>
			<div class="col">
				<form action="vote3" method="POST">
					<button>Pika!</button>
					<img src="https://cdn.bulbagarden.net/upload/0/0f/025MS.png" alt="Pikachu">
				</form>
			</div>
		</div>
	</div>
	
	
	
	
</body>
</html>